.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
  background-color: var(--preta);
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 50px;
  position: fixed;
  width: 100%;
  color: var(--cinza);
  font-size: 15px;
}
.footer span {
  color: var(--verde);
}
