.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--preto);
  background-color: var(--preto);
  color: var(--cinza);
  padding: 0.9rem 2rem;
  bottom: 0;
  left: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}
.footer h1,
.footer span {
  font-size: 14px;
}
.footer p {
  display: flex;
  justify-content: space-between;
}
.footer span {
  margin: 0 5px;
  color: var(--btnSecundary);
}
