.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 50px;
}

@media (min-width:350px){
  /* Estilizações CSS */
  .conteudo {
   
    padding: 1rem 0;
    gap: 30px;
  }
  
}