.campoTexto {
  width: 250px;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  border-style: none;
  border-bottom: 2px solid var(--preto);
  box-shadow: 0 0 0 0;
  outline: none;
}

@media (min-width:350px){
  /* Estilizações CSS */
  .campoTexto {
    width: 220px;
    padding: 5px 10px;
  
  }
  
}